*{
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color: #bfbdbf;
	line-height: 1.5;
	background: #30282a url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
}

.clearfix:after {
	content: "";
	display: table;
	clear:both;
}

h1, h2, h3, button, time {
	font-family: 'Teko'; sans-serif;
	text-transform: uppercase;
	color: #fff;
}

h1 {
	font-weight: 300;
	font-size: 120px;
	letter-spacing: 2px;
}

h2 {
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 3px;
}

h3 {
	font-size: 20px;
	display: inline-block;
	letter-spacing: 2px;
}


.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 90%;
}

.closed {
	display: none;
}

.logo {
	float: left;
}

.hamburger {
	float: right;
	width: 70px;
	height: 70px;
	background-color: #352d2f;
	padding-top: 25px;
}



.icon_bar {
	display: block;
	width: 24px;
	height: 2px;
	margin: 0 auto 3px;
	background-color: #fff;
}



header.navigation {
	margin-bottom: 10%;
}


.lead {
	font-size: 26px;
	line-height: 1.3;
}

.content{
	width: 60%;
	margin-bottom: 10%;
}

.content header{
	margin-bottom: 30px
}

.content section > p {
	margin-bottom: 30px;
	font-size: 18px;
}

.content section {
	width: 80%;
}

aside {
	width: 50%;
}


section h2 {
	margin-bottom: 16px;

}

form {
	margin-top: 40px;
}

input {
	font-family: "Titillium Web", sans-serif;
	color: #555;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	padding: 18px 20px;
	width: 80%;
}

button {
	font-size: 20px;
	background: #f63c3c;
	border: none;
	letter-spacing: 4px;
	padding: 16px 15px;
	vertical-align: top;
}

.fa {
	font-size: 22px;
	color: #fff;
	margin-right: 20px;
}

.fa.fa-facebook {
	margin-right: 22px;
}

aside {
	margin-top: 30px;
}

aside article, aside time {
	margin-left: 32px;
}

time {
color: #959595;
letter-spacing: 1px;
}


footer, footer a {
	font-size: 13px;
	color: #8c8b8c;
	margin-bottom: 30px;
}

.footer-links {
	float: right;
}

.footer-links li {
	display: inline-block;
}

.footer-links li:first-child {
	margin-right: 20px;
}

.footer-links a {
	color: #fff;
	text-decoration: none;
}

.copyright {
	float: left;
}

.copyright a {
	color: #fff;
	text-decoration: none;
}


